body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
span.link {
  color: #00B7FF;
  text-decoration: underline;
  cursor: pointer;
}

/* header view */
#header-view ul {
  padding: 0;
}
#header-view li {
  list-style-type: none;
  padding-right: 10px;
  display: inline-block;
}
/* end header view */
